<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">

    <title>Document</title>
</head>

<body>
    <form method="post">
        <div>
            <label for="nom">Nom&nbsp;:</label>
            <input type="text" id="nom" name="nom" />
            <div>
                <div>
                    <label for="description">description&nbsp;:</label>
                    <input type="text" id="description" name="description" />
                </div>
                <div>
                    <label for="photo">image&nbsp;:</label>
                    <input type="text" id="photo" name="photo" />
                </div>
                <div>
                    <label for="equipe_id">description</label>
                    <textarea id="equipe_id" name="equipe_id"></textarea>
                </div>
                <button type="submit">submit</button>
    </form>

</body>

</html>