<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">

    <title>Marvel CRUD</title>
</head>

<body>
    <form method="post">
        <label for="nom">Nom de la nouvelle équipe</label>
        <input type="text" id="nom" name="nom" />
        <button type="submit" id="create_equipe">Créer la nouvelle équipe</button>
    </form>
    <a role="button" href="/">Annuler la création d'une nouvelle équipe</a>
</body>